@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;600&family=Aerator+Regular&family=Michroma&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

@media (min-width: 320px) and (max-width: 480px) {

    #bodyhome {
        width: 100vw;
        /* height: 100vh; */
        /* padding: 15px; */
        font-family: "Almarai", sans-serif;
        /* display: block;
    justify-content: center;
    align-items: center; */
        /* border: 10px solid rgb(17, 0, 255); */

    }

    .header {
        position: sticky;
        top: 0;
        background-color: white;
        padding: 0px 15px;
        /* border: 1px solid red; */
    }

    #top {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        justify-items: baseline;
        font-family: "Almarai", sans-serif;
        /* padding-top: 5px; */
        padding-bottom: 5px;
        /* margin-bottom: 20px; */
        /* border: 1px solid rgb(23, 21, 21); */

    }

    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    #top1 {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        justify-items: baseline;
        font-family: "Almarai", sans-serif;
        /* padding-top: 5px; */
        padding-bottom: 5px;
        margin-bottom: 10px;
        /* border: 1px solid rgb(23, 21, 21); */

    }

    #logoleft {
        width: 40px;
        /* height: 100%; */
        display: flex;
        /* align-content: center; */
        align-items: center;
    }

    #logoright {
        width: 220px;
        /* height: 100%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo1 {
        display: none;
    }

    .logo4 {
        width: 20px
    }

    .logo2 {
        width: 25px
    }

    #logo3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        color: gray;
        margin-top: 20px;
        font-size: 15px;
        margin-bottom: 10px;
        background-color: white;
        padding: 0% 20%;
    }

    #sale {
        width: 100%;
        /* height: 50px; */
        font-size: 20px;
        font-weight: 600;
        color: #e50010;
        background-color: #f8f7f6;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-top: 50%;
        padding-bottom: 50%;
        font-weight: 700;
        font-size: 40px;
        font-family: "Aerator Regular", sans-serif;
    }

    .shopnow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 0px 15px;
    }

    #terms {
        padding: 0px 10px;
        font-size: 14px;
        color: grey;
        margin-bottom: 15px;
    }

    #background {
        width: 100vw;
        height: 100vh;
    }

    #bgimg {
        display: none;
    }

    #bgimg1 {
        width: 100%;
        height: 70%;
        background-image: url("./images/brown-hues-summer-decor-4x5-LP5.webp");
        background-size: cover;
        background-position: center;
        /* position: relative; */
        /* padding-top: 110%; */
        /* border: 1px solid blue; */
    }

    #content {
        height: 75%;
        /* border: 5px solid red; */
    }

    #font {
        /* height: 60%; */
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: bolder;
        /* font-stretch:extra-condensed; */
        line-height: 1;
        font-size: 50px;
        color: white;
        padding-top: 90%;
        /* border: 1px solid blue; */
    }

    #butn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        padding-top: 13px;
    }

    #bedimg {
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }

    #viewall {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-top: 90%;
        padding-inline: 15px;
    }

    #products {
        width: 100%;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .productsdiv {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-bottom: 20px; */
    }

    #products div img {
        width: 100%;
    }

    .bigimg {
        width: 100%;
        height: 50vh;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        /* padding-top: 20px; */
        /* margin-bottom: 60px; */
    }

    .bigimgdiv {
        width: 50%;
        /* margin-bottom: 20px; */
    }

    .bigimg div img {
        width: 100%;
    }

    .bigimg1 {
        width: 100%;
        height: 45vh;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .bigimg1 div img {
        width: 100%;
    }




    #hm {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        font-family: "Almarai", sans-serif;
    }

    #hmlink {
        margin-bottom: 100px;
        padding-top: 100px;
        padding-left: 15px;
    }

    .shop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 0px 15px;
    }

    #details {
        display: none;
    }

    #ind {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
        padding-left: 15px;
    }

    #rs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        width: 60%;
    }

    #media {
        display: flex;
        justify-content: space-between;
        width: 70%;
        padding-left: 15px;
        margin-bottom: 40px;
    }

    #media1 {
        display: none;
    }

    #footer {
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 40px;
        padding-inline: 15px;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {

    #bodyhome {
        width: 100vw;
        /* height: 100vh; */
        /* padding: 15px; */
        font-family: "Almarai", sans-serif;
        /* display: block;
    justify-content: center;
    align-items: center; */
        /* border: 10px solid rgb(17, 0, 255); */

    }

    .header {
        position: sticky;
        top: 0;
        background-color: white;
        padding: 0px 15px;
        /* border: 1px solid red; */
    }

    #top {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        justify-items: baseline;
        font-family: "Almarai", sans-serif;
        /* padding-top: 5px; */
        padding-bottom: 5px;
        /* margin-bottom: 20px; */
        /* border: 1px solid rgb(23, 21, 21); */

    }

    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    #top1 {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        justify-items: baseline;
        font-family: "Almarai", sans-serif;
        /* padding-top: 5px; */
        padding-bottom: 5px;
        margin-bottom: 10px;
        /* border: 1px solid rgb(23, 21, 21); */

    }

    #logoleft {
        width: 40px;
        /* height: 100%; */
        display: flex;
        /* align-content: center; */
        align-items: center;
    }

    #logoright {
        width: 220px;
        /* height: 100%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo1 {
        /* width: 65%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        color: gray;
        margin-top: 20px;
        font-size: 15px;
        margin-bottom: 10px;
        background-color: white;
        padding: 0% 20%;
        /* border: 1px solid blue; */
    }

    .logo4 {
        width: 20px
    }

    .logo2 {
        width: 25px
    }

    #logo3 {
        display: none;
    }

    #sale {
        width: 100vw;
        height: 75vh;
        font-size: 20px;
        font-weight: 600;
        color: #e50010;
        background-color: #f8f7f6;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-top: 12%;
        padding-bottom: 5%;
        font-weight: 700;
        font-size: 40px;
        font-family: "Aerator Regular", sans-serif;
    }

    .shopnow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 0px 15px;
    }

    #terms {
        padding: 0px 10px;
        font-size: 14px;
        color: grey;
        margin-bottom: 15px;
    }

    #background {
        width: 100vw;
        height: 100vh;
    }

    #block {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-top: 20px; */
    }

    #bgimg {
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url("./images/towel16x9.jpg");
        background-size: cover;
        background-position: center;
        /* position:; */
        padding-top: 50%;
        border: 5px solid rgb(255, 115, 0);

    }

    #bgimg1 {
        display: none;
    }

    #content {
        display: none;
    }

    #font {
        width: 100%;
        height: 80%;
        position:relative;
        top: 50%;
        left: 35%;
        /* transform: translate(-50%, -50%); */
        /* text-align: center; */
        font-weight: bolder;
        font-size: 50px;
        color: rgb(227, 25, 25);
        margin-left: 20px;
        padding-left: 10px;
        border: 5px solid blue;
    }

    #butn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        padding-top: 13px;
    }

    #bedimg {
        width: 50%;
        height: 100%;
        padding-top: 20px;
    }

    #viewall {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-top: 90%;
        padding-inline: 15px;
    }

    #products {
        width: 100%;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .productsdiv {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-bottom: 20px; */
    }

    #products div img {
        width: 100%;
    }

    .bigimg {
        width: 100%;
        height: 50vh;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        /* padding-top: 20px; */
        /* margin-bottom: 60px; */
    }

    .bigimgdiv {
        width: 50%;
        /* margin-bottom: 20px; */
    }

    .bigimg div img {
        width: 100%;
    }

    .bigimg1 {
        width: 100%;
        height: 45vh;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .bigimg1 div img {
        width: 100%;
    }




    #hm {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        font-family: "Almarai", sans-serif;
    }

    #hmlink {
        margin-bottom: 100px;
        padding-top: 100px;
        padding-left: 15px;
    }

    .shop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 0px 15px;
    }

    #details {
        display: none;
    }

    #ind {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
        padding-left: 15px;
    }

    #rs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        width: 60%;
    }

    #media {
        display: flex;
        justify-content: space-between;
        width: 70%;
        padding-left: 15px;
        margin-bottom: 40px;
    }

    #media1 {
        display: none;
    }

    #footer {
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 40px;
        padding-inline: 15px;
    }

}