@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;600&family=Aerator+Regular&family=Michroma&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

@media (min-width: 320px) and (max-width: 480px) {

    #bodyhome {
        width: 100%;
        height: 100%;
        /* padding: 15px; */
        font-family: "Almarai", sans-serif;
        /* display: block;
    justify-content: center;
    align-items: center; */
        /* border: 10px solid rgb(17, 0, 255); */

    }

    .header {
        position: sticky;
        top: 0;
        background-color: white;
        padding: 0px 15px;
        /* border: 1px solid red; */
    }

    #top {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        justify-items: baseline;
        font-family: "Almarai", sans-serif;
        padding-top: 10px;
        padding-bottom: 5px;
        /* margin-bottom: 20px; */
        /* border: 1px solid rgb(23, 21, 21); */

    }

    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    #top1 {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        justify-items: baseline;
        font-family: "Almarai", sans-serif;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        /* border: 1px solid rgb(23, 21, 21); */

    }

    #logoleft {
        width: 40px;
        /* height: 100%; */
        display: flex;
        /* align-content: center; */
        align-items: center;
    }

    #logoright {
        width: 220px;
        /* height: 100%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo1 {
        display: none;
    }

    .logo4 {
        width: 20px
    }

    .logo2 {
        width: 25px
    }

    #logo3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        color: gray;
        margin-top: 20px;
        font-size: 15px;
        margin-bottom: 10px;
        background-color: white;
        padding: 0% 20%;
    }

    #sale {
        width: 100%;
        /* height: 50px; */
        padding-left: 10px;
        padding-top: 15px;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 40px;
        font-family: "Almarai", sans-serif;
    }

    #buttons {
        width: 350PX;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 10px;
        /* border: 1px solid rgb(233, 23, 23); */
    }

    #button1 {
        /* width: 100%; */
        padding: 5px 10px;
        font-size: 15px;
        font-weight: 600;
        font-family: "Almarai", sans-serif;
        color: white;
        background-color: black;
        border-radius: 0;
        /* border: 1px solid black; */
    }

    #button2 {
        /* width: 100%; */
        padding: 8px;
        font-size: 15px;
        /* font-weight: 600; */
        font-family: "Almarai", sans-serif;
        background-color: white;
        border-radius: 0;
        border: 1px solid black;
    }

    #button3 {
        /* width: 100%; */
        padding: 8px 10px;
        font-size: 15px;
        /* font-weight: 600; */
        font-family: "Almarai", sans-serif;
        background-color: white;
        border-radius: 0;
        border: 1px solid black;
    }

    #background {
        width: 100vw;
        height: 100%;
    }

    #sort {
        position: sticky;
        top: 104px;
        background-color: white;
        padding: 0px 15px;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
    }

    #products {
        width: 100%;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid #e50010; */
    }

    .productsdiv {
        width: 100%;
        display: flex;
        /* justify-content: space-between;
        align-items: center; */
        /* margin-bottom: 20px; */
        flex-wrap: wrap;
    }

    .productsdiv div {
        width: 50%;
    }

    #products div img {
        width: 100%;
        /* background-attachment: fixed; */
    }

    .productname {
        font-size: 15px;
        font-family: "Almarai", sans-serif;
        font-weight: 10px;
        color: black;
        padding-left: 10px;
        padding-top: 10px;
    }

    .productprice {
        font-size: 15px;
        font-family: "Almarai", sans-serif;
        font-weight: bold;
        color: black;
        padding-left: 10px;
    }

    #pagebutton {
        /* align-items: center; */
        width: 450px;
        background-color: black;
        color: white;
        border: none;
        margin-top: 20px;
        margin-inline: 20px;
        padding: 20px 10px;
        font-size: 15px;
        font-family: "Almarai", sans-serif;
    }

    #pages {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        margin-inline: 40px;
        padding: 20px 10px 20px 10px;
        margin-bottom: 80px;
        /* border: 1px solid red; */
    }





    #hm {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        font-family: "Almarai", sans-serif;
    }

    #hmlink {
        margin-bottom: 100px;
        padding-top: 100px;
        padding-left: 15px;
    }

    .shop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 0px 15px;
    }

    #details {
        display: none;
    }

    #black {
        width: 80px;
        margin-top: 20px;
        margin-bottom: 35px;
    }

    #ind {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
        padding-left: 15px;
    }

    #rs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        width: 60%;
    }

    #media {
        display: flex;
        justify-content: space-between;
        width: 70%;
        padding-left: 15px;
        margin-bottom: 40px;
    }

    #media1 {
        display: none;
    }

    #footer {
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 40px;
        padding-inline: 15px;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {

    #bodyhome {
        width: 100%;
        /* height: 100vh; */
        /* padding: 15px; */
        font-family: "Almarai", sans-serif;
        /* display: block;
    justify-content: center;
    align-items: center; */
        /* border: 10px solid rgb(17, 0, 255); */

    }

    .header {
        position: sticky;
        top: 0;
        background-color: white;
        padding: 0px 15px;
        /* border: 5px solid red; */
    }

    #top {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        justify-items: baseline;
        font-family: "Almarai", sans-serif;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        /* margin-bottom: 20px; */
        /* border: 1px solid rgb(23, 21, 21); */

    }

    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    #top1 {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        justify-items: baseline;
        font-family: "Almarai", sans-serif;
        /* padding-top: 5px; */
        padding-bottom: 5px;
        margin-bottom: 10px;
        /* border: 1px solid rgb(23, 21, 21); */

    }

    #logoleft {
        width: 80px;
        /* height: 100%; */
        display: flex;
        justify-content: space-between;
        /* align-content: center; */
        align-items: center;
    }

    #logoright {
        width: 180px;
        /* height: 100%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo1 {
        /* width: 65%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        color: gray;
        margin-top: 20px;
        font-size: 15px;
        margin-bottom: 10px;
        background-color: white;
        padding: 0% 20%;
        /* border: 1px solid blue; */
    }

    .logo4 {
        width: 20px
    }

    .logo2 {
        display: none;
    }

    #logo3 {
        display: none;
    }


    #sale {
        width: 100%;
        /* height: 50px; */
        padding-left: 20px;
        padding-top: 45px;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 60px;
        font-family:'Times New Roman', Times, serif;
    }

    #buttons {
        width: 350PX;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 10px;
        /* border: 1px solid rgb(233, 23, 23); */
    }

    #button1 {
        /* width: 100%; */
        padding: 5px 10px;
        font-size: 15px;
        font-weight: 600;
        font-family: "Almarai", sans-serif;
        color: white;
        background-color: black;
        border-radius: 0;
        /* border: 1px solid black; */
    }

    #button2 {
        /* width: 100%; */
        padding: 8px;
        font-size: 15px;
        /* font-weight: 600; */
        font-family: "Almarai", sans-serif;
        background-color: white;
        border-radius: 0;
        border: 1px solid black;
    }

    #button3 {
        /* width: 100%; */
        padding: 8px 10px;
        font-size: 15px;
        /* font-weight: 600; */
        font-family: "Almarai", sans-serif;
        background-color: white;
        border-radius: 0;
        border: 1px solid black;
    }

    #background {
        width: 100%;
        height: 100%;
    }

    #sort {
        position: sticky;
        top: 104px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }

    #products {
        width: 100%;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid #e50010; */
    }

    .productsdiv {
        width: 100%;
        display: flex;
        /* justify-content: space-between;
        align-items: center; */
        /* margin-bottom: 20px; */
        flex-wrap: wrap;
    }

    .productsdiv div {
        width: 25%;
    }

    #products div img {
        width: 100%;
        /* background-attachment: fixed; */
    }

    .productname {
        font-size: 15px;
        font-family: "Almarai", sans-serif;
        font-weight: 10px;
        color: black;
        padding-left: 10px;
        padding-top: 10px;
    }

    .productprice {
        font-size: 15px;
        font-family: "Almarai", sans-serif;
        font-weight: bold;
        color: black;
        padding-left: 10px;
    }

    #pagebutton {
        /* align-items: center; */
        width: 450px;
        background-color: black;
        color: white;
        border: none;
        margin-top: 20px;
        margin-inline: 20px;
        padding: 20px 10px;
        font-size: 15px;
        font-family: "Almarai", sans-serif;
    }

    #pages {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        margin-inline: 35%;
        padding: 20px 10px 20px 10px;
        margin-bottom: 80px;
        /* border: 1px solid red; */
    }

    #hm {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        font-family: "Almarai", sans-serif;
    }

    #hmlink {
        margin-bottom: 100px;
        padding-top: 100px;
        padding-left: 15px;
    }

    .shop {
        display: none;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 0px 15px;
    }

    #details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .texts {
        width: 25%;
        font-size: 15px;
        font-family: "Almarai", sans-serif;
        font-weight: 400;
        line-height: 30px;
        padding-inline: 15px;
    }

    #black {
        width: 110px;
        margin-top: 20px;
        margin-bottom: 35px;
        padding-inline: 15px;
    }

    #ind {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
        padding-left: 15px;
    }

    #rs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        width: 20%;
    }

    #media {
        display: none;
    }

    #footer {
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 40px;
        padding-inline: 15px;
        display: flex;
        justify-content: space-between;
    }

    #media1 {
        display: flex;
        justify-content: space-between;
        width: 25%;
        padding-left: 10px;
        margin-bottom: 40px;
    }

}